<!-- Created by: XANAX APIS | danzzcodingweb.vercel.app -->

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="My Rest Api Project">
    <meta name="author" content="XANAX APIS">
	<meta name="keywords" content="Rest Api Bot WhatsApp By: XANAX APIS">
<audio autoplay loop="true" src="https://a.top4top.io/m_1757ageic0.m4a"></audio>
	<!-- TITLE -->
	<title>🌷 𝐙𝐄𝐑𝐎𝐓𝐖𝐎 𝐑𝐄𝐒𝐓 𝐀𝐏𝐈𝐒 🌷</title>
    <link rel="shortcut icon" href="https://telegra.ph/file/bee0a209018d1d1a8304b.jpg"><link rel="stylesheet" href="ajax/libs/limonte-sweetalert2/7.33.1/sweetalert2.min.css">
    
    <!-- FONT -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="canonical" href="https://demo-basic.adminkit.io/" />
    <link href="https://fonts.googleapis.com/css2?family=Original+Surfer&display=swap" rel="stylesheet">
    
    <!-- VENDORS -->
    <link rel="stylesheet" href="vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="vendors/owl-carousel-2/owl.theme.default.min.css">
    <link rel="stylesheet" href="vendors/css/vendors.bundle.base.css">
    <link rel="stylesheet" href="vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="vendors/owl-carousel-2/owl.carousel.min.css">
    <link href="vendors/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="vendors/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">	
    	
    <!-- CSS -->
    <link href="css/style.css" rel="stylesheet">
    <link href="css/dashboard.css" rel="stylesheet">
</head>

<body id="page-top" class="dark-mode">
    <div id="wrapper">
   
        <ul class="navbar-nav sidebar sidebar-light accordion" id="accordionSidebar">
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/dash">
                <img src="images/icon.png" class="rounded-circle shadow-4"style="width: 50px;" alt="Avatar" />
                <div class="sidebar-brand-text mx-3">XANAX API</div>
            </a>
            <hr class="sidebar-divider my-0">
            <li class="nav-item active">
                <a class="nav-link" href="/panel">
                    <i class="fa fa-home"></i>
                    <span>Painel</span></a>
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseWebapi" aria-expanded="true" aria-controls="collapseBootstrap">
                    <i class="fa fa-globe"></i>
                    <span>Infos</span>
                </a>
                <div id="collapseWebapi" class="collapse" aria-labelledby="headingBootstrap" data-parent="#accordionSidebar">
                    <div class="py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Contatos e Infos</h6>
                        <a class="collapse-item" href="" target="_blank">Whatsapp dono</a>
                    </div>
                </div>
				 <li class="nav-item active">
                <a class="nav-link" href="/planos">
                    <i class="fa fa-info-circle"></i>
                    <span>Planos</span></a>
            </li>
            </li>           
            <hr class="sidebar-divider">
            <div class="sidebar-heading">
               Apis A Baixo
            </div>
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseDownload" aria-expanded="true" aria-controls="collapseBootstrap">
                    <i class="fa fa-download"></i>
                    <span>Downloads</span>
                </a>
                <div id="collapseDownload" class="collapse" aria-labelledby="headingBootstrap" data-parent="#accordionSidebar">
                    <div class="py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Downloader</h6>                        
                        <a class="collapse-item" href="/api/ytplay?musica=matue%20m4&apikey=SuaApiKey" target="_blank">Youtube Play</a>
                        <a class="collapse-item" href="/youtube/mp3?link=https://youtu.be/ffaYsbjmaMs&apikey=SuaApikey" target="_blank">Youtube Mp3</a>
                        <a class="collapse-item" href="/youtube/mp4?link=https://youtu.be/ffaYsbjmaMs&apikey=SuaApikey" target="_blank">Youtube Mp4</a>
						<a class="collapse-item" href="/youtube/playmp3?q=m4%20matue&apikey=SuaApikey" target="_blank">PLay Mp3</a>
						<a class="collapse-item" href="/youtube/playmp4?q=m4%20matue&apikey=SuaApikey" target="_blank">Play Mp4</a>
                        <a class="collapse-item" href="/api/facebook?url=https://fb.watch/i8zYCf73gU/&apikey=SuaApikey" target="_blank">Facebook Dw</a>
                        <a class="collapse-item" href="/download/tiktok?url=https://vm.tiktok.com/ZM2PnUh47/&apikey=SuaApiKey" target="_blank">Tiktok Dw</a>
                        <a class="collapse-item" href="/api/instamp4?url=https://www.instagram.com/reel/CZIV8TyBbTA/?utm_medium=copy_link&apikey=SuaApikey" target="_blank">Instagram Dw</a>
                        <a class="collapse-item" href="/download/kwai?url=https://k.kwai.com/p/9w0Cbfzx&apikey=SuaApikey" target="_blank">Kwai Dw</a>      
                        <a class="collapse-item" href="/api/mememp3?query=lula&apikey=SuaApiKey" target="_blank">Audio Meme</a>                        						
                        <a class="collapse-item" href="/api/soundcloud?url=https://m.soundcloud.com/raptrapbrasil/teto-mustang-preto/&apikey=SuaApikey" target="_blank">Sound Cloud</a>                        
                    </div>
                </div>
            </li>
            
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseAsupan" aria-expanded="true" aria-controls="collapseBootstrap">
                    <i class="fa fa-user-check"></i>
                    <span>Consultas</span>
                </a>
                <div id="collapseAsupan" class="collapse" aria-labelledby="headingBootstrap" data-parent="#accordionSidebar">
                    <div class="py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Consultas Cadastrais</h6>
                        <a class="collapse-item" href="/api/consultas?type=nome1&query=Paulo%20Henrique&apikey=SuaApikey" target="_blank">NOME V1</a>
                        <a class="collapse-item" href="/api/consultas?type=nome2&query=Paulo%20Henrique&apikey=SuaApikey" target="_blank">NOME V2</a>
                        <a class="collapse-item" href="/api/consultas?type=cpf1&query=03244275222&apikey=SuaApikey" target="_blank">CPF 1</a>
                        <a class="collapse-item" href="/api/consultas?type=cpf2&query=03244275222&apikey=SuaApikey" target="_blank">CPF 2 </a>
                        <a class="collapse-item" href="/api/consultas?type=cpf3&query=03244275222&apikey=SuaApikey" target="_blank">CPF 3</a>
                        <a class="collapse-item" href="/api/consultas?type=cpf4&query=03244275222&apikey=SuaApikey" target="_blank">CPF 4</a>
                        <a class="collapse-item" href="/api/consultas?type=tel1&query=73999197974&apikey=SuaApikey" target="_blank">TEL 1</a>  
                        <a class="collapse-item" href="/api/consultas?type=tel2&query=73999197974&apikey=SuaApikey" target="_blank">TEL 2</a>
                        <a class="collapse-item" href="/api/consultas?type=tel3&query=73999197974&apikey=SuaApikey" target="_blank">TEL 3</a>
                        <a class="collapse-item" href="/api/consultas?type=placa1&query=KMM2551&apikey=SuaApikey" target="_blank">PLACA 1</a>
                        <a class="collapse-item" href="/api/consultas?type=placa2&query=KMM2551&apikey=SuaApikey" target="_blank">PLACA 2</a>
                        <a class="collapse-item" href="/api/consultas?type=cep&query=45206775&apikey=SuaApikey" target="_blank">CEP </a>
                        <a class="collapse-item" href="/api/consultas?type=rg&query=15205495&apikey=SuaApikey" target="_blank">RG</a>   						
                        <a class="collapse-item" href="/api/consultas?type=cnpj&query=13347016000117&apikey=SuaApikey" target="_blank">CNPJ</a>
                        <a class="collapse-item" href="/api/consultas?type=beneficios&query=03244275222&apikey=SuaApikey" target="_blank">BENEFICIOS</a>
                        <a class="collapse-item" href="/api/consultas?type=vizinhos&query=03244275222&apikey=SuaApikey" target="_blank">VIZINHOS</a>
                        <a class="collapse-item" href="/api/consultas?type=parentes&query=03244275222&apikey=SuaApikey" target="_blank">PARENTES</a>
                        <a class="collapse-item" href="/api/consultas?type=score&query=03244275222&apikey=SuaApikey" target="_blank">SCORE</a>
                        <a class="collapse-item" href="/api/consultas/bank?query=33&apikey=SuaApikey" target="_blank">BANCO</a>
                        <a class="collapse-item" href="/api/consultas/bin?query=520586&apikey=SuaApikey" target="_blank">BIN</a>  
                    </div>
                </div>
            </li>
            
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseCecan" aria-expanded="true" aria-controls="collapseBootstrap">
                    <i class="fa fa-image"></i>
                    <span>Banners</span>
                </a>
                <div id="collapseCecan" class="collapse" aria-labelledby="headingBootstrap" data-parent="#accordionSidebar">
                    <div class="py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Banners and Logos</h6>
						<a class="collapse-item" href="/api/legenda?url=https://brieffib.sirv.com/Images/xanaxlogo.jpg&texto1=XANAX&texto2=Ofc&apikey=SuaApikey" target="_blank">Foto com Legenda</a>
                        <a class="collapse-item" href="/api/plaq1?texto=vncs&apikey=SuaApikey" target="_blank">Plaquinha 1</a>
						<a class="collapse-item" href="/api/plaq2?texto=vncs&apikey=SuaApikey" target="_blank">Plaquinha 2</a>
						<a class="collapse-item" href="/api/plaq3?texto=vncs&apikey=SuaApikey" target="_blank">Plaquinha 3</a>
						<a class="collapse-item" href="/api/plaq4?texto=vncs&apikey=SuaApikey" target="_blank">Plaquinha 4</a>
						<a class="collapse-item" href="/api/plaq5?texto=vncs&apikey=SuaApikey" target="_blank">Plaquinha 5</a>
						<a class="collapse-item" href="/api/plaq6?texto=vncs&apikey=SuaApikey" target="_blank">Plaquinha 6</a>
						<a class="collapse-item" href="/api/plaq7?texto=vncs&apikey=SuaApikey" target="_blank">Plaquinha 7</a>
						<a class="collapse-item" href="/api/plaq8?texto=vncs&apikey=SuaApikey" target="_blank">Plaquinha 8</a>
                    </div>
                </div>
            </li>
            
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseSearch" aria-expanded="true" aria-controls="collapseBootstrap">
                    <i class="fa fa-search"></i>
                    <span>Pesquisas</span>
                </a>
                <div id="collapseSearch" class="collapse" aria-labelledby="headingBootstrap" data-parent="#accordionSidebar">
                    <div class="py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Search API</h6>
                 <a class="collapse-item" href="/api/xnxxsearch?q=novinha&apikey=SuaApikey" target="_blank" >XNXX SEARCH</a>
<a class="collapse-item" href="/api/xvideossearch?q=novinha&apikey=" target="_blank" >XVIDEOS SEARCH</a>
<a class="collapse-item" href="/api/pornhubsearch?q=novinha&apikey==SuaApikey" target="_blank" >PORNHUB SEARCH</a>
<a class="collapse-item" href="/api/ytsrc?q=m4%20matue&apikey=SuaApikey" target="_blank" >YTB-PESQUISA</a>  
<a class="collapse-item" href="/api/pinterest?text=cat&apikey=SuaApikey" target="_blank" >IMG PINTEREST</a>
<a class="collapse-item" href="/api/gimage?q=cachorro&apikey=SuaApikey" target="_blank" >GOOGLE IMAGE</a>
<a class="collapse-item" href="/api/googlesrc?apikey=SuaApikey&query=m.scheyot" target="_blank" >PESQUISA GOOGLE</a>
<a class="collapse-item" href="/api/playstore?nome=whatsapp&apikey=SuaApikey" target="_blank" >PLAY-STORE</a>
<a class="collapse-item" href="/api/uptodown?nome=whatsapp&apikey=SuaApikey" target="_blank" >UPTODOWN</a>
<a class="collapse-item" href="/api/lirik?q=matue&apikey=SuaApikey" target="_blank" >LETRA-MUSICA</a>
<a class="collapse-item" href="/api/animes?q=naruto&apikey=SuaApikey" target="_blank" >ANIME-PLANET</a>
<a class="collapse-item" href="/api/wattpad?query=amor&apikey=SuaApikey" target="_blank" >PESQUISA WATTPAD</a>
<a class="collapse-item" href="/api/manga?q=naruto&apikey=SuaApikey" target="_blank" >ANIME-MANGA</a>
<a class="collapse-item" href="/api/rexdl?q=ff&apikey=SuaApikey" target="_blank" >PESQUISA REXDL</a>
<a class="collapse-item" href="/api/sfile?q=ff&apikey=SuaApikey" target="_blank" >PESQUISA SFILE</a>
<a class="collapse-item" href="/api/moddroid?q=ff&apikey=SuaApikey" target="_blank" >MODDROID</a>
<a class="collapse-item" href="/api/nerding?q=lolis&apikey=SuaApikey" target="_blank" >NERDING</a>
<a class="collapse-item" href="/api/filme?q=jumanji&apikey=SuaApikey" target="_blank" >PESQUISA FILME</a>
<a class="collapse-item" href="/pesquisa/filme?query=jumanji&apikey=SuaApikey" target="_blank" >PESQUISA FILME2</a>
<a class="collapse-item" href="/api/apkmody?q=pou&apikey=SuaApikey" target="_blank" >APKMODY</a>
<a class="collapse-item" href="/api/happymod?q=pou&apikey=SuaApikey" target="_blank" >HAPPY MOD</a>
<a class="collapse-item" href="/api/freefire?q=pou&apikey=SuaApikey" target="_blank" >FREE-FIRE</a>
<a class="collapse-item" href="/api/mercadolivre?nome=iphone&apikey=SuaApikey" target="_blank" >MERCADO-LIVRE</a>
<a class="collapse-item" href="/api/amazon?nome=livro&apikey=SuaApikey" target="_blank" >AMAZON SEARCH</a>
<a class="collapse-item" href="/api/horoscopo?signo=aries&apikey=SuaApikey" target="_blank" >HORÓSCOPO</a>
<a class="collapse-item" href="/api/noticias/globo?apikey=SuaApikey" target="_blank" >G1 - NOTICIA GLOBO</a>
<a class="collapse-item" href="/api/noticias/poder360?apikey=SuaApikey" target="_blank" >NOTICIA PODER360</a>
<a class="collapse-item" href="/api/noticias/jovempan?apikey=SuaApikey" target="_blank" >NOTICIA JOVPAN</a>
<a class="collapse-item" href="/api/noticias/uol?apikey=SuaApikey" target="_blank" >NOTICIAS UOL</a>
<a class="collapse-item" href="/api/noticias/cnnbrasil?apikey=SuaApikey" target="_blank" >NOTICIA CNNBR</a>
<a class="collapse-item" href="/api/noticias/estadao?apikey=SuaApikey" target="_blank" >NOTICIA ESTADÃO</a>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTextPro" aria-expanded="true" aria-controls="collapseForm">
                    <i class="fa fa-font"></i>
                    <span>Logos</span>
                </a>
                <div id="collapseTextPro" class="collapse" aria-labelledby="headingForm" data-parent="#accordionSidebar">
                    <div class="py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Text Pro API</h6>
<a class="collapse-item "href="/api/shadow?texto=XANAX&apikey=SuaApikey"  target="_blank">SHADOW</a> 
<a class="collapse-item "href="/api/efeitoneon?texto=XANAX&apikey=SuaApikey"  target="_blank">EFEITO-NEON</a>
<a class="collapse-item "href="/api/cemiterio?texto=XANAX&apikey=SuaApikey"  target="_blank">CEMITERIO</a>
<a class="collapse-item "href="/api/metalgold?texto=XANAX&apikey=SuaApikey"  target="_blank">METAL-GOLD</a>
<a class="collapse-item "href="/api/narutologo?texto=XANAX&apikey=SuaApikey"  target="_blank">NARUTO-LOGO</a>
<a class="collapse-item "href="/api/fire?texto=XANAX&apikey=SuaApikey"  target="_blank">FIRE</a>
<a class="collapse-item "href="/api/romantic?texto=XANAX&apikey=SuaApikey"  target="_blank">ROMANTIC</a>
<a class="collapse-item "href="/api/smoke?texto=XANAX&apikey=SuaApikey"  target="_blank">SMOKE</a>
<a class="collapse-item "href="/api/papel?texto=XANAX&apikey=SuaApikey"  target="_blank">PAPEL</a>
<a class="collapse-item "href="/api/lovemsg?texto=XANAX&apikey=SuaApikey"  target="_blank">LOVE-MSG</a>
<a class="collapse-item "href="/api/lovemsg2?texto=XANAX&apikey=SuaApikey"  target="_blank">LOVE-MSG2</a>
<a class="collapse-item "href="/api/lovemsg3?texto=XANAX&apikey=SuaApikey"  target="_blank">LOVE-MSG3</a>
<a class="collapse-item "href="/api/coffecup?texto=XANAX&apikey=SuaApikey"  target="_blank">COFFE-CUP</a>
<a class="collapse-item "href="/api/coffecup2?texto=XANAX&apikey=SuaApikey"  target="_blank"SuaApikey"  target="_blank"> >COFFE-CUP2</a>
<a class="collapse-item "href="/api/cup?texto=XANAX&apikey=SuaApikey"  target="_blank">CUP</a>
<a class="collapse-item "href="/api/florwooden?texto=XANAX&apikey=SuaApikey"  target="_blank">FLOR-WOODEN</a>
<a class="collapse-item "href="/api/madeira?texto=XANAX&apikey=SuaApikey"  target="_blank">MADEIRA</a>
<a class="collapse-item "href="/api/lobometal?texto=XANAX&apikey=SuaApikey"  target="_blank">LOBO-METAL</a>
<a class="collapse-item "href="/api/harryp?texto=XANAX&apikey=SuaApikey"  target="_blank">HARRY-POTTER</a>
<a class="collapse-item "href="/api/txtborboleta?texto=XANAX&apikey=SuaApikey"  target="_blank">TXT-BORBOLETA</a>
<a class="collapse-item "href="/api/transformer?texto=XANAX&apikey=SuaApikey"  target="_blank">TRANSFORMER</a>
<a class="collapse-item "href="/api/glitch?texto=XANAX&apikey=SuaApikey"  target="_blank">GLITCH</a>
<a class="collapse-item "href="/api/glitch2?texto=XANAX&apikey=SuaApikey"  target="_blank">GLITCH-2</a>      
<a class="collapse-item "href="/api/3dgold?texto=XANAX&apikey=SuaApikey"  target="_blank">3D-GOLD</a>    
<a class="collapse-item "href="/api/lava?texto=XANAX&apikey=SuaApikey"  target="_blank">LAVA</a>
<a class="collapse-item "href="/api/toxic?texto=XANAX&apikey=SuaApikey"  target="_blank">TOXIC</a>
<a class="collapse-item "href="/api/lapis?texto=XANAX&apikey=SuaApikey"  target="_blank">LAPIS</a>
<a class="collapse-item "href="/api/halloween?texto=XANAX&apikey=SuaApikey"  target="_blank">HALLOWEEN</a>
<a class="collapse-item "href="/api/demongreen?texto=XANAX&apikey=SuaApikey"  target="_blank">DEMON-GREEN</a>
<a class="collapse-item "href="/api/metalfire?texto=XANAX&apikey=SuaApikey"  target="_blank">METAL-FIRE</a>
<a class="collapse-item "href="/api/thunder?texto=XANAX&apikey=SuaApikey"  target="_blank">TROVÃO</a>
<a class="collapse-item "href="/api/thunderv2?texto=XANAX&apikey=SuaApikey"  target="_blank">TROVÃO-V1 </a>
<a class="collapse-item "href="/api/neongreen?texto=XANAX&apikey=SuaApikey"  target="_blank">NEON-GREEN</a>
<a class="collapse-item "href="/api/neon?texto=XANAX&apikey=SuaApikey"  target="_blank">NEON</a>
<a class="collapse-item "href="/api/neon1?texto=XANAX&apikey=SuaApikey"  target="_blank">NEON-1</a>
<a class="collapse-item "href="/api/neon2?texto=XANAX&apikey=SuaApikey"  target="_blank">NEON-2</a>
<a class="collapse-item "href="/api/neon3d?texto=XANAX&apikey=SuaApikey"  target="_blank">NEON-3D</a>
<a class="collapse-item "href="/api/rainbow?texto=XANAX&apikey=SuaApikey"  target="_blank">RAINBOW</a>
                    </div>
                </div>
            </li>
            
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePhotooxy" aria-expanded="true" aria-controls="collapseForm">
                    <i class="fa fa-edit"></i>
                    <span>Montagem</span>
                </a>
                <div id="collapsePhotooxy" class="collapse" aria-labelledby="headingForm" data-parent="#accordionSidebar">
                    <div class="py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Photo Oxy API</h6>
<a class="collapse-item"  href="/api/marvel?texto=XANAX&texto2=Ofc&apikey=SuaApikey"  target="_blank">MARVEL </a>
<a class="collapse-item"  href="/api/pornhub?texto=XANAX&texto2=Ofc&apikey=SuaApikey"  target="_blank">PORNHUB </a>
<a class="collapse-item"  href="/api/stone?texto=XANAX&texto2=Ofc&apikey=SuaApikey"  target="_blank">STONE </a>
<a class="collapse-item"  href="/api/space?texto=XANAX&texto2=Ofc&apikey=SuaApikey"  target="_blank">ESPAÇO </a>
<a class="collapse-item"  href="/api/america?texto=XANAX&texto2=Ofc&apikey=SuaApikey"  target="_blank">AMERICA </a>
<a class="collapse-item"  href="/api/steel?texto=XANAX&texto2=Ofc&apikey=SuaApikey"  target="_blank">AÇO </a>
<a class="collapse-item"  href="/api/grafity?texto=XANAX&texto2=Ofc&apikey=SuaApikey"  target="_blank">GRAFITY </a>
<a class="collapse-item"  href="/api/glitch3?texto=XANAX&texto2=Ofc&apikey=SuaApikey"  target="_blank">GLITCH-3 </a>
<a class="collapse-item"  href="/api/gameplay?texto=XANAX&texto2=Ofc&apikey=SuaApikey"  target="_blank">GAME-PLAY </a>
                    </div>
                </div>
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseNsfw" aria-expanded="true" aria-controls="collapseTable">
                    <i class="fa fa-image"></i>
                    <span>Hentai & +18</span>
                </a>
                <div id="collapseNsfw" class="collapse" aria-labelledby="headingTable" data-parent="#accordionSidebar">
                    <div class="py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Nsfw API</h6>
<a class="collapse-item" href="/api/xvideos?q=orgasmo&apikey=SuaApikey"  target="_blank">PESQUISA XVIDEOS </a>    
<a class="collapse-item" href="/api/hentaistube?q=orgasmo&apikey=SuaApikey"  target="_blank">PESQUISA HTUBE </a>  
<a class="collapse-item" href="/api/pornhubsrc?q=orgasmo&apikey=SuaApikey"  target="_blank">PESQUISA PORNHUB </a>  
<a class="collapse-item" href="/api/pornogratis?q=orgasmo&apikey=SuaApikey"  target="_blank">PESQUISA PORNO </a>  
<a class="collapse-item" href="/nsfw/nsfwloli?apikey=SuaApikey"  target="_blank">NSFW LOLI </a>  
<a class="collapse-item" href="/nsfw/ahegao?apikey=SuaApikey"  target="_blank">NSFW AHEGAO </a>  
<a class="collapse-item" href="/nsfw/ass?apikey=SuaApikey"  target="_blank">NSFW ASS </a>  
<a class="collapse-item" href="/nsfw/bdsm?apikey=SuaApikey"  target="_blank">NSFW BDSM </a>  
<a class="collapse-item" href="/nsfw/blowjob?apikey=SuaApikey"  target="_blank">NSFW BLOWJOB </a>  
<a class="collapse-item" href="/nsfw/cuckold?apikey=SuaApikey"  target="_blank">NSFW CUCKOLD </a>  
<a class="collapse-item" href="/nsfw/cum?apikey=SuaApikey"  target="_blank">NSFW CUM </a>  
<a class="collapse-item" href="/nsfw/ero?apikey=SuaApikey"  target="_blank">NSFW ERO </a>
<a class="collapse-item" href="/nsfw/femdom?apikey=SuaApikey"  target="_blank">NSFW FEMDOM </a>                               
<a class="collapse-item" href="/nsfw/foot?apikey=SuaApikey"  target="_blank">NSFW FOOT </a>           
<a class="collapse-item" href="/nsfw/gangbang?apikey=SuaApikey"  target="_blank">NSFW GANGBANG </a>                          
<a class="collapse-item" href="/nsfw/glasses?apikey=SuaApikey"  target="_blank">NSFW GLASSES </a>                          
<a class="collapse-item" href="/nsfw/hentai?apikey=SuaApikey"  target="_blank">NSFW HENTAI </a>   
<a class="collapse-item" href="/nsfw/jahy?apikey=SuaApikey"  target="_blank">NSFW JAHY </a>                             
<a class="collapse-item" href="/nsfw/manga?apikey=SuaApikey"  target="_blank">NSFW MANGA </a>
<a class="collapse-item" href="/nsfw/neko?apikey=SuaApikey"  target="_blank">NSFW NEKO </a>                      
<a class="collapse-item" href="/nsfw/orgy?apikey=SuaApikey"  target="_blank">NSFW ORGY </a> 
<a class="collapse-item" href="/nsfw/panties?apikey=SuaApikey"  target="_blank">NSFW PANTIES </a> 
<a class="collapse-item" href="/nsfw/pussy?apikey=SuaApikey"  target="_blank">NSFW PUSSY </a> 
<a class="collapse-item" href="/nsfw/neko2?apikey=SuaApikey"  target="_blank">NSFW NEKO2 </a> 
<a class="collapse-item" href="/nsfw/tentacles?apikey=SuaApikey"  target="_blank">NSFW TENTACLES </a> 
<a class="collapse-item" href="/nsfw/thighs?apikey=SuaApikey"  target="_blank">NSFW THIGHS </a> 
<a class="collapse-item" href="/nsfw/yuri?apikey=SuaApikey"  target="_blank">NSFW YURI </a> 
<a class="collapse-item" href="/nsfw/zettairyouiki?apikey=SuaApikey"  target="_blank">NSFW ZETTAIRYOUIKI </a> 
                        </div>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseNews" aria-expanded="true" aria-controls="collapseForm">
                    <i class="fa fa-book"></i>
                    <span>Gerador de Contas</span>
                </a>
                <div id="collapseNews" class="collapse" aria-labelledby="headingForm" data-parent="#accordionSidebar">
                    <div class="py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Accounts</h6>
<a class="collapse-item" href="/outros/disney?apikey=SuaApikey"  target="_blank">DISNEY</a>
<a class="collapse-item" href="/outros/netflix?apikey=SuaApikey"  target="_blank">NETFLIX</a>
<a class="collapse-item" href="/outros/hbomax?apikey=SuaApikey"  target="_blank">HBO MAX</a>
<a class="collapse-item" href="/outros/deezer?apikey=SuaApikey"  target="_blank">DEEZER MUSIC</a>
<a class="collapse-item" href="/outros/star?apikey=SuaApikey"  target="_blank">STAR PLUS</a>
<a class="collapse-item" href="/outros/paramount?apikey=SuaApikey"  target="_blank">PARAMOUNT</a>
<a class="collapse-item" href="/outros/nordvpn?apikey=SuaApikey"  target="_blank">NORD VPN</a>
<a class="collapse-item" href="/outros/crunchyroll?apikey=SuaApikey"  target="_blank">CRUNCHY ROLL</a>
<a class="collapse-item" href="/outros/ufc?apikey=SuaApikey"  target="_blank">UFC SPORTS</a>
<a class="collapse-item" href="/outros/express?apikey=SuaApikey"  target="_blank">EXPRESS VPN</a>
<a class="collapse-item" href="/outros/credlink?apikey=SuaApikey"  target="_blank">CREDLINK</a>
<a class="collapse-item" href="/outros/sp-pni?apikey=SuaApikey"  target="_blank">SP PNI</a>
<a class="collapse-item" href="/outros/pmrj?apikey=SuaApikey"  target="_blank">PM RJ</a>
                        </div>
                </div>
            </li>
            
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseInfo" aria-expanded="true" aria-controls="collapseForm">
                    <i class="fa fa-info-circle"></i>
                    <span>inteligencia Art</span>
                </a>
                <div id="collapseInfo" class="collapse" aria-labelledby="headingForm" data-parent="#accordionSidebar">
                    <div class="py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Information API</h6>
<a class="collapse-item" href="/ias/animeai?apikey=SuaApiKey&img=https://telegra.ph/file/7200048b9363d0532d0fe.jpg">ANIME AI IMG </a>
<a class="collapse-item" href="/ias/gpt?tokengpt=SEU_TOKEN_AQUI&q=ola%20vncs&apikey=SuaApikey"  target="_blank">OPEN-AI TEXT</a>
<a class="collapse-item" href="/ias/bing?pesquisa=javascript&apikey=SuaApikey"  target="_blank">BING IA  TEXT</a>
<a class="collapse-item" href="/ias/bard?q=javascript&apikey=SuaApikey"  target="_blank">BARD IA  TEXT</a>
<a class="collapse-item" href="/api/wikipedia?q=javascript&apikey=SuaApikey"  target="_blank">WIKIPEDIA TEXT</a>
<a class="collapse-item" href="/api/wikimedia?query=javascript&apikey=SuaApikey"  target="_blank">WIKIPEDIA IMG </a>
<a class="collapse-item" href="/ias/super_img?tokengpt=SEU_TOKEN_AQUI&ideia=gato&apikey=SuaApikey"  target="_blank">OPEN-AI IMG</a>
                    </div>
                </div>
            </li>
            
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePrimbon" aria-expanded="true" aria-controls="collapseTable">
                    <i class="fa fa-radiation"></i>
                    <span>Stickers</span>
                </a>     
                <div id="collapsePrimbon" class="collapse" aria-labelledby="headingTable" data-parent="#accordionSidebar">
                    <div class="py-2 collapse-inner rounded">
                        <h6 class="collapse-header">RGB & TTP</h6>
<a class="collapse-item" href="/api/ttp?texto=sad&apikey=SuaApikey"  target="_blank">STICKER-TTP </a>
<a class="collapse-item" href="/api/ttp2?texto=sad&apikey=SuaApikey"  target="_blank">STICKER-TTP 2 </a>
<a class="collapse-item" href="/api/attp?texto=VNCS&apikey=SuaApikey"  target="_blank">STICKER-RGB 1</a>
<a class="collapse-item" href="/api/attp1?texto=VNCS&apikey=SuaApikey"  target="_blank">STICKER-RGB 2</a>
<a class="collapse-item" href="/api/attp2?texto=VNCS&apikey=SuaApikey"  target="_blank">STICKER-RGB 3</a>
<a class="collapse-item" href="/api/attp3?texto=VNCS&apikey=SuaApikey"  target="_blank">STICKER-RGB 4</a>
<a class="collapse-item" href="/api/attp4?texto=VNCS&apikey=SuaApikey"  target="_blank">STICKER-RGB 5</a>
<a class="collapse-item" href="/api/attp5?texto=VNCS&apikey=SuaApikey"  target="_blank">STICKER-RGB 6</a>
<a class="collapse-item" href="/api/attp6?texto=VNCS&apikey=SuaApikey"  target="_blank">STICKER-RGB 7</a>
                    </div>
                </div>
            </li>
                                    
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTools" aria-expanded="true" aria-controls="collapseForm">
                    <i class="fa fa-tools"></i>
                    <span>Tools</span>
                </a>
                <div id="collapseTools" class="collapse" aria-labelledby="headingForm" data-parent="#accordionSidebar">
                    <div class="py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Tools API</h6>
                 <a class="collapse-item" href="/api/stalkpin?usuario=Deidara&apikey=SuaApikey"  target="_blank">STALKER-PIN </a>
<a class="collapse-item" href="/api/screenshotweb?url=https://www.google.com/&apikey=SuaApikey"  target="_blank">SCREENSHOT-WEB </a>
<a class="collapse-item" href="/api/linkswhatapp?apikey=SuaApikey"  target="_blank">GRUPO-WHATS </a>
<a class="collapse-item" href="/api/githubuser?usuario=NuevaGeneracionALB&apikey=SuaApikey"  target="_blank">GITHUB-STALKER </a>
<a class="collapse-item" href="/api/htmlsite?link=https://xvideos.com&apikey=SuaApikey"  target="_blank">VER HTML/SITE </a>
<a class="collapse-item" href="/api/fazernick?nome=XANAX&apikey=SuaApikey"  target="_blank">GERAR NICK </a> 
<a class="collapse-item" href="/api/rastreio?q=QP969387805BR&apikey=SuaApikey"  target="_blank">RASTREIO CORREIOS </a> 
<a class="collapse-item" href="/shortlink/bitly?url=https://xanax-apis.online&apikey=SuaApikey"  target="_blank">SHORT BITLY</a> 
<a class="collapse-item" href="/shortlink/tinyurl?url=https://xanax-apis.online&apikey=SuaApikey"  target="_blank">SHORT TINYURL</a> 
<a class="collapse-item" href="/shortlink/cuttly?url=https://xanax-apis.online&apikey=SuaApikey"  target="_blank">SHORT CUTLY</a> 
                    </div>
                </div>
            </li>

            <hr class="sidebar-divider">
            <div class="sidebar-heading">
                Contact
            </div>
            <li class="nav-item">
                <a class="nav-link" href="https://github.com/vncs69">
                    <i class="fab fa-github">&nbsp;Github</i>
                    <span></span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://instagram.com/vncscode">
                    <i class="fab fa-instagram">&nbsp;Instagram</i>
                    <span></span>
                </a>
            </li>
           <li class="nav-item">
                <a class="nav-link" href="https://wa.me/557399197974">
                    <i class="fab fa-whatsapp">&nbsp;WhatsApp</i>
                    <span></span>
                </a>
            </li>
            <hr class="sidebar-divider">
        </ul>
 
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                            
                <nav class="navbar navbar-expand navbar-light bg-navbar topbar mb-4 static-top">
            <button id="sidebarToggleTop" class="btn btn-link rounded-circle mr-3">
              <i class="fa fa-bars"></i>
            </button><b>DASHBOARD</b>
            <ul class="navbar-nav ml-auto">
              <div class="topbar-divider d-none d-sm-block"></div>
              <li class="nav-item dropdown no-arrow">
              </a>
              <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                aria-labelledby="searchDropdown">
              </div>
            </li>
            <li class="nav-item dropdown no-arrow mx-1">
              <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-bell fa-fw"></i>
                <span class="badge badge-danger badge-counter">2 </span>
              </a>
                 <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                aria-labelledby="alertsDropdown">
                <h6 class="dropdown-header bg-info-gradient">
                  NOTIFICATION
                </h6>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="mr-3">
                    <div class="icon-circle bg-danger">
                      <i class="fas fa-info-circle text-white"></i>
                    </div>
                  </div>
                  <div>
                    <div class="small text-gray-500">2 September, 2022</div>
                    <span style="font-size:15px;">Date of manufacture</span>
                  </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="mr-3">
                    <div class="icon-circle bg-danger">
                      <i class="fas fa-globe text-white"></i>
                    </div>
                  </div>
                  <div>
                    <div class="small text-gray-500">21 September, 2022</div>
                    <span style="font-size:15px;">Publication date</span>
                  </div>
                </a>
              </div>
            </li> 
            <div class="topbar-divider d-none d-sm-block"></div>
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <img class="" src="images/icon.png" style="max-width: 30px">
                <span class="ml-2 d-none d-lg-inline text-yellow small">XANAX APIS</span>
                <a href="/myprofile">
                <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                aria-labelledby="messagesDropdown">
              </a>
              </a>
              </a>
              </div>
              </div>
            </li>
          </ul>
        </nav>                               
                <div class="container-fluid" id="container-wrapper">
                    <div class="card h-3 mb-4">
                        <div class="card-body">
                            <div class="row align-items-center">
                                <div class="col mr-2">
                                    <div class="h6 mb-0 font-weight-small">Seja Bem Vindo(A)</div>                                    
                                    <div class="text-md-left font-weight-small">
                                    	<div class="text">                              		
                                    	<h8><b>You Apikey: </b><font color="cyan" id="">0</h8></font>
                                    	</div>
                                    	<div class="text">
                                    	<h8><b>Limit Today: </b><font color="cyan" id="">100</h8></font>
                                    </div>                                    
                                    </div>
                                </div>                                
                                <div class="col-auto">
                                    <i class="fas fa-quote-right"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card h-50">
                                <div class="card-body">
                                    <div class="row align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-uppercase mb-1">IP Address</div>
                                            <div class="h6 mb-0 font-weight-small" id="ip">0</div>
                                            <font color="cyan"><small>Your Ip Address</small></font>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fa fa-wifi"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card h-50">
                                <div class="card-body">
                                    <div class="row align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-uppercase mb-1">User</div>
                                            <div class="h6 mb-0 font-weight-small" id="userlogin">18</div>
                                            <font color="cyan"><small>Total User</small></font>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fa fa-user"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card h-50">
                                <div class="card-body">
                                    <div class="row align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-uppercase mb-1">Visitors</div>
                                            <!-- Inicia codigo Contador -->
<div align="left"><a title='Contador de Visitas do MegaContador' href='https://megacontador.com.br/' ><img src='https://megacontador.com.br/img-9ay2pBghMhk9d1Qq-29.gif' border='0' alt='Contador de visitas'></a></div>
                                            <font color="cyan"><small>Total Visitor</small></font>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fa fa-eye"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card h-50">
                                <div class="card-body">
                                    <div class="row align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-uppercase mb-1">Features</div>
                                            <div class="h6 mb-0 font-weight-small" id="feature">999</div>
                                            <font color="cyan"><small>100% Das Apis Online</small></font>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fa fa-tasks"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                                                
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card h-50">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-uppercase mb-1">Battery</div>
                                            <span id="battery_level" class="h6 mb-0 font-weight-small">0</span>
                                            <div>
                                            	</div>
                                            <font color="cyan"><small>Battery Level</small></font>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fa fa-battery-full" ></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
	</div>
                    <div class="row">
                        <div class="col-lg-12 text-center">
                        	<div class="text-md-left font-weight-bold">
                            Contact
                            <p>
                            	<a href="https://wa.me/557399197974" class="btn btn-primary btn-sm ml-2" target="_blank"><i class=""></i>Localizado em - Brazil</a>
                            	<a href="contatvinicius7@gmail.com" class="btn btn-primary btn-sm ml-2" target="_blank"><i class=""></i>Email: contatvinicius7@gmail.com</a>
                            	<a href="https://wa.me/557399197974" class="btn btn-primary btn-sm ml-2" target="_blank"><i class=""></i>Number: 73 99197974</a>
                            	</div>
                            	<div class="col-lg-12 text-center">
                            	<div class="text-md-left font-weight-bold">
                            	Social Media
                            	<div class="col-lg-12 text-center">
                                <a href="https://instagram.com/vncsode" class="btn btn-primary btn-sm ml-2" target="_blank"><i class="fab fa-instagram"></i>&nbsp;Instagram</a>                        
                            </p>
                        </div>
                      </div>
                    </div>
                   </div>
                </div>
                
            </div>                              
        </div>
    </div>
    
    <footer class="sticky-footer">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        Copyright © <span id="Years">00</span> by:
                        <a href="/donation" target="_blank" style="color: rgb(255, 234, 0);"> XANAX APIS</a>
                        </span>
                    </div>
                </div>
            </footer>

    
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
    <script>
f=
_=>navigator.getBattery().then(b=>alert(`Hai, Welcome To My Rest Api - XANAX APIS,\nDon'Use As Apis com Respeito!`))
f()
</script>

	<!-- ICON JS -->
	<script src="https://unpkg.com/ionicons@5.1.2/dist/ionicons.js"></script>
	
	<!-- JS -->
    <script src="vendors/jquery/jquery.min.js"></script>
    <script src="vendors/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="vendors/jquery-easing/jquery.easing.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/dashboard.js"></script>    
</body>
</html>